@{
    ViewData["Title"] = "REST API Operations";
}

<h2>Wine REST API Operations</h2>

<div class="buttons">
    <a asp-action="Create" class="btn btn-primary">Add Wine</a>
    <a asp-action="Index" asp-controller="RestApi" class="btn btn-secondary">View Wines</a>
</div>


